td.left {
	padding-right: 30px;
	font-weight: bolder;
	text-align: right;
	vertical-align: top;
	width: 400px;
}

tr.lane td {
	padding-top: 10px;
	padding-bottom: 10px;
}

td.left em {
	font-weight: normal;
	font-size: 11px;
}

td.right {
	width: 200px;
}

INPUT.field250, SELECT.field250 {
	width: 250px;
}

.icon-delete {
	border: 0px;
}

.icon-pico-cms {
	background-image: url('../img/pico_cms.svg?v=1');
}