td.left {
	padding-right: 30px;
	font-weight: bolder;
	text-align: right;
	width: 300px;
}

tr.lane td {
	padding-top: 10px;
	padding-bottom: 10px;
}

td.left em {
	font-weight: normal;
	font-size: 11px;
}

td.center {
	text-align: center;
}

td.right {
	width: 200px;
	padding-right: 80px;
}

TD.title {
	font-size: 15px;
	font-weight: bold;
}

INPUT.field250 {
	width: 250px;
}

TR.header TD {
	font-weight: bold;
	font-size: 12px;
}

TR.entry {
	width: 500px;
}

TR.entry TD {
	padding: 10px;
}