/.github                    export-ignore
/.tx                        export-ignore
/appdata/plugins/.gitignore export-ignore
/appdata/themes/.gitignore  export-ignore
/appdata_public/.gitignore  export-ignore
/l10n/.gitignore            export-ignore
/screenshots                export-ignore
/tests                      export-ignore
/.gitattributes             export-ignore
/.gitignore                 export-ignore
/.phpcs.xml                 export-ignore
/.scrutinizer.yml           export-ignore
/Makefile                   export-ignore
