# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# IntelliJ IDEA
/\.idea

# Build
/build
/nextcloud

# composer
/composer.phar
/vendor

# PHP_Codesniffer
/phpcs.phar
/phpcbf.phar

# phpunit
/phpunit.phar
/tests/clover.xml
/tests/.phpunit.result.cache
